body {
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: red
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color:red; 
}
.btn {
    background: red;
    color: white;
    display: inline-block;
    border: 2px rgb(197,0,0);
    cursor: pointer;
}
.btn-lg{
    font-size: 1.2rem;
    padding: .6rem 2rem;
    border-radius: .5rem;
}
.btn-md{
    font-size: 1.1rem;
    padding: .4rem 1.8rem;
    border-radius: .4rem;
}

/* header */
header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    width: 10rem;
}
header nav a {
    margin: .3rem;
}
.user-panel-control {
    display: flex;
    align-items: center;
}
.user-panel-control input {
    padding: .5rem;
    border-radius: .2rem;
}
#search {
    background-image: url("./assets/images/search-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 15%;
    width: 10rem;
}
.user-panel-control i {
    font-size: 2rem;
    margin: .4rem;
}
.user-panel-control .user {
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
}

/* main */
main {
    width: 98%;
    border: 1px solid black;
    margin: auto;
    aspect-ratio: 3 / 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
main h1 {
    margin-top: 0px;
}
main > p{
    width: 60%;
}

.user-rating i {
    color: red;
    font-size:.9rem;
}
.movie-details {
    font-weight: bold;
}
.movie-details ul {
    padding-left: 0px;
}
.movie-details li {
    list-style-type: none;
}
.movie-details li span {
    color: red;
}
.user-rating span {
    margin-right: .3rem;
}

.text-color-gray {
    color: rgba (99, 99, 99, 0.956);
    font-size:.9rem;
}

.movie-rating {
    border: 1px solid black;
    border-radius: .2rem;
    padding: .2rem; 
}

/* suggestion */
.suggestion-panel {
    margin-bottom: 2rem; 
}

.movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie-header h2, .movie-header p {
    font-size: 1.1rem;
    font-weight: bold;
}
.movie-container {
    display: flex;
    justify-content: space-between;
}
.movie-card {
    border: 1px solid black;
    width: 28%;
    aspect-ratio: 2/1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .7rem;
    padding: .5rem;
}
.movie-card h3 {
    margin: 0px;
}
/* footer */

footer {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}
footer nav {
    display: flex;
    gap: 1rem;
}

.social-media p, .app-store p {
    margin-top: 0px;
}

.social-media img, .app-store img {
    height: 30px;
    border-radius: .3rem;
}

.social-media div, .app-store div {
    display: flex;
    gap: 10px;
}
@media screen and (max-width: 576px) {
    header {
        flex-wrap: wrap;
    }
    header nav {
        order: 3;
        width: 100%;
        text-align: center;
        margin: 1rem;
    }
    footer {
       flex-wrap: wrap;
       justify-content: center;
    }
    footer>div:first-child {
        width:100%;
    }
    footer nav {
        justify-content: center;
    }
}